<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div class="featured_partners full-background">
    <SlpIcon
      class="featured_partners__decoration"
      name="gitlab-vertical-space"
      variant="marketing"
      size="xl"
      alt="Vertical Space"
    />
    <SlpTypography tag="h2" variant="heading3">Meet our partners</SlpTypography>
    <div class="featured_partners__cards">
      <a
        v-for="partner in data.partners"
        :key="partner.url"
        class="card"
        :href="partner.url"
      >
        <nuxt-img class="card__image" :src="partner.image" :alt="partner.alt" />
      </a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.full-background {
  background: linear-gradient(
    to bottom,
    transparent 75%,
    $color-surface-100 25%
  );
  margin: 0 calc(50% - 50vw);
  box-sizing: border-box;
  padding: $spacing-24 calc(50vw - 50%) $spacing-32 calc(50vw - 50%);
}

.featured_partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    margin-bottom: $spacing-24;
  }
  &__decoration {
    height: 61px;
    margin-bottom: $spacing-24;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(6, 145px);
    column-gap: 30px;
    align-self: center;
    @media (max-width: $breakpoint-xl) {
      grid-template-columns: repeat(2, 145px);
      row-gap: $spacing-16;
    }
  }
}

.card {
  box-shadow: 0px 2px 50px rgba($color-surface-700, 0.08);
  border: 1px solid $color-surface-200;
  border-radius: 4px;
  background: white;
  padding: $spacing-24;
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__image {
    max-width: 93px;
    max-height: 78px;
    object-fit: scale-down;
  }
}
</style>
