<script>
import LaunchDarkly from '../components/common/launch-darkly.vue';

export default {
  components: {
    LaunchDarkly,
  },
};
</script>

<template>
  <LaunchDarkly feature-flag="roi-calculator">
    <template #control>
      <SlpButton href="/" data-ga-name="control" data-ga-location="body"
        >Control</SlpButton
      >
    </template>
    <template #experiment>
      <SlpButton href="/" data-ga-name="experiment" data-ga-location="body"
        >Experiment One</SlpButton
      >
    </template>
    <template #experiment-two>
      <SlpButton href="/" data-ga-name="experiment-two" data-ga-location="body"
        >Experiment Two</SlpButton
      >
    </template>
  </LaunchDarkly>
</template>
